// ==========================================================================
// Variables
// ==========================================================================

// Colors
// ==========================================================================
$color-black: #000;
$color-white: #fff;
$color-grey: #f1f1f1;
$color-yellow: #ffd642;
$color-blue: #2851dc;

// Breakpoints
// ==========================================================================
$breakpoints: (
  small: 375px,
  medium: 700px,
  large: 975px,
  x-large: 1170px
);

// Sizing
// ==========================================================================
$nav-small: 70px;
$nav-large: 100px;
$spacing-small: 20px;
$spacing-medium: 40px;
$spacing-large: 80px;
