// ==========================================================================
// Variables
// ==========================================================================

// Colors
// ==========================================================================
$color-black: #000;
$color-white: #fff;
$color-grey: #f1f1f1;
$color-yellow: #ffd642;
$color-blue: #2851dc;
$color-red: #b60000;

// Contextual
$color-light: $color-white;
$color-dark: $color-black;
$color-border: lighten($color-black, 80%);
$color-text-default: $color-black;
$color-button-bg-default: $color-blue;
$color-button-text-default: $color-white;
$color-section-light: $color-white;
$color-section-dark: $color-black;
$color-section-primary: $color-blue;
$color-section-secondary: $color-grey;

// Breakpoints
// ==========================================================================
$breakpoints: (
  small: 375px,
  medium: 700px,
  large: 975px,
  x-large: 1170px
);

// Sizing
// ==========================================================================
$nav-small: 70px;
$nav-large: 100px;
$spacing-small: 20px;
$spacing-medium: 40px;
$spacing-large: 80px;
$full-height: calc(100vh - var(--offset));

// Fonts
// ==========================================================================
$font-size-x-large: 3.157rem;
$font-size-large: 2.369rem;
$font-size-medium: 1.777rem;
$font-size-emphasized: 1.333rem;
$font-size-default: 1rem;
$font-size-small: 0.75rem;
$font-size-base: 16px;

:export {
  breakpointSmall: map-get($breakpoints, 'small');
  breakpointMedium: map-get($breakpoints, 'medium');
  breakpointLarge: map-get($breakpoints, 'large');
  breakpointXLarge: map-get($breakpoints, 'x-large');
}
