// ==========================================================================
// Variables
// ==========================================================================

$color-black: #000;
$color-white: #fff;
$color-grey: #f1f1f1;
$color-yellow: #ffd642;
$color-blue: #2851dc;
