// ==========================================================================
// Variables
// ==========================================================================

// Colors
// ==========================================================================
$color-black: #000;
$color-white: #fff;
$color-grey: #f1f1f1;
$color-yellow: #ffd642;
$color-blue: #2851dc;

// Breakpoints
// ==========================================================================
$breakpoints: (
  small: 300px,
  medium: 600px,
  large: 1000px,
  x-large: 1200px
);
