@import '../../sass/variables';
@import '../../sass/mixins';

.grid {
  display: grid;
  grid-gap: $spacing-small;

  @include breakpoint(medium) {
    grid-gap: $spacing-medium;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}
