@import '../../sass/variables';
@import '../../sass/mixins';

.navToggle {
  position: relative;
  width: 30px;
  height: 30px;
  padding: 0;
  transition: transform 0.5s ease-in-out;
  border: 0;
  outline: 0;
  background: none;
  appearance: none;

  @include breakpoint(medium) {
    display: none;
  }

  &::before,
  &::after {
    --transition: 0.25s ease;

    content: '';
    position: absolute;
    left: 10%;
    width: 80%;
    height: 2px;
    transform-origin: right;
    transition: transform var(--transition), box-shadow var(--transition);
    transition-delay: 0.25s;
    background-color: $color-black;
  }

  &::before {
    top: 6px;
    box-shadow: 0 8px 0 0 currentColor;
  }

  &::after {
    bottom: 6px;
  }
}

.navToggleOpen {
  transform: rotate(1turn);

  &::before {
    transform: rotate(-45deg) translate3d(-2px, -3px, 0);
    box-shadow: none;
  }

  &::after {
    transform: rotate(45deg) translate3d(-2px, 3px, 0);
  }
}
