{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "useBuiltIns": "entry"
        },
      }
    ],
    "@zeit/next-typescript/babel"
  ],
  "plugins": [
    "inline-react-svg"
  ]
}
