@import '../../sass/variables';
@import '../../sass/mixins';

.list {
  display: flex;
  position: fixed;
  z-index: -1;
  top: 100%;
  left: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - #{$nav-small});
  margin: 0;
  padding: $spacing-small;
  background-color: $color-white;
  text-align: center;

  @include breakpoint(medium) {
    position: static;
    z-index: 1;
    flex-direction: row;
    width: auto;
    height: 100%;
    margin-left: auto;
    padding: 0;
  }
}
