@import '../../sass/variables';
@import '../../sass/mixins';

// ==========================================================================
// Global Styles
// ==========================================================================

// Box Sizing
// ==========================================================================
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

// Typography
// ==========================================================================
body {
  color: $color-text-default;
  font-family: proxima-nova, sans-serif;
  font-size: $font-size-base;
  line-height: 1.4;
}

// Theming
// ==========================================================================
:root {
  --theme-1: #b7eef8;
  --theme-2: #f8edb7;
  --theme-3: #f1f1f1;
  --theme-4: #1f1f1f;
  --theme-5: #b7f8d9;
  --theme-6: #f8b7b7;
}
