@import '../../sass/normalize';
@import '../../sass/variables';
@import '../../sass/mixins';

// ==========================================================================
// Global Styles
// ==========================================================================

// Box Sizing
// ==========================================================================
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

main {
  --offset: #{$nav-small} * 2;

  min-height: calc(100vh - var(--offset));

  @include breakpoint(medium) {
    --offset: #{$nav-large} * 2;
  }
}

// Typography
// ==========================================================================
body {
  color: $color-text-default;
  font-family: proxima-nova, sans-serif;
  font-size: $font-size-base;
  line-height: 1.4;
}
