@import '../../sass/normalize';
@import '../../sass/variables';
@import '../../sass/mixins';

// ==========================================================================
// Global Styles
// ==========================================================================

// Box Sizing
// ==========================================================================
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

main {
  --offset: #{$nav-small} * 2;

  min-height: $full-height;

  @include breakpoint(medium) {
    --offset: #{$nav-large} * 2;
  }
}

// Typography
// ==========================================================================
body {
  color: $color-text-default;
  font-family: proxima-nova, sans-serif;
  font-size: $font-size-base;
  line-height: 1.4;
}

// Theming
// ==========================================================================
:root {
  --theme-1: #86e2ef;
  --theme-2: #fab74d;
  --theme-3: #4c575c;
  --theme-4: #00bfb2;
  --theme-5: #474056;
}
