@import '../../sass/variables';
@import '../../sass/mixins';

.item {
  display: flex;
  align-items: center;
  padding: $spacing-small / 2 0;
  border-bottom: 1px solid $color-grey;
  list-style: none;

  @include breakpoint(medium) {
    padding: $spacing-small 0;
  }

  &:first-child {
    border-top: 1px solid $color-grey;
  }
}

.image {
  position: relative;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin-right: $spacing-small;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.details {
  max-width: calc(100% - (90px + #{$spacing-small * 2}));
  margin-right: $spacing-small;

  span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.button {
  padding: 0;
  border: 0;
  outline: 0;
  background: none;
  color: $color-red;
  font-size: $font-size-small;
  text-decoration: underline;
  cursor: pointer;

  @include breakpoint(medium) {
    font-size: $font-size-default;
  }
}

.manage {
  margin-left: auto;

  input {
    max-width: 60px;
    margin-bottom: 0.25rem;
    padding: 0.5em;
  }
}
