@import '../../sass/variables';
@import '../../sass/mixins';

.header {
  margin-bottom: $spacing-small;

  @include breakpoint(medium) {
    margin-bottom: $spacing-medium;
  }

  h1 {
    margin-bottom: 0.5rem;
  }

  h2 {
    margin: 0;
  }
}
