@import '../../sass/variables';
@import '../../sass/mixins';

.card {
  @include card-shadow;

  overflow: hidden;
  border-radius: 4px;
  background-color: $color-light;
  color: currentColor;
  text-decoration: none;
}

.image {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  background-color: $color-grey;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s ease-in-out;

    .card:hover & {
      transform: scale(1.1);
    }
  }
}

.content {
  padding: $spacing-small;
}

.title,
.price {
  display: block;
}

.price {
  margin-bottom: $spacing-small;
}
