@import '../../sass/variables';
@import '../../sass/mixins';

.card {
  @include card-shadow;

  overflow: hidden;
  border-radius: 4px;
  background-color: $color-light;
  color: currentColor;
  text-decoration: none;

  @include breakpoint(x-large) {
    max-width: 400px;
  }
}

.image {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  overflow: hidden;
  background-color: var(--theme);

  img {
    --scale: 1;

    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate3d(-50%, -50%, 0) scale(var(--scale));
    object-fit: cover;
    transition: transform 0.3s ease-in-out;

    .card:hover & {
      --scale: 1.1;
    }
  }
}

.imagefull {
  img {
    width: 100%;
    height: 100%;
  }
}

.content {
  padding: $spacing-small;
}

.title,
.price {
  display: block;
}

.price {
  margin-bottom: $spacing-small;
}
