@import '../../sass/variables';
@import '../../sass/mixins';

.wrapper,
.background {
  position: fixed;
  z-index: 2;
}

.wrapper {
  top: 0;
  right: 0;
  width: 85%;
  max-width: 500px;
  height: 100%;
  padding: $spacing-small;
  overflow: auto;
  overscroll-behavior: contain;
  background-color: $color-white;

  @include breakpoint(medium) {
    padding: $spacing-medium;
  }
}

.background {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color-dark, 0.75);
}
