@import '../../sass/variables';
@import '../../sass/mixins';

.container {
  @include card-shadow;

  width: 80px;
  height: 80px;
  margin: 0 auto;
  padding: $spacing-small;
  border-radius: 100%;
  background-color: $color-light;
}

.icon {
  display: block;
  width: 100%;
  height: 100%;
  border: 6px solid $color-dark;
  border-radius: 100%;
  border-right-color: transparent;
}
