@import '../../sass/variables';
@import '../../sass/mixins';

.icon {
  display: block;
  transition: 0.25s ease;
}

.toggle {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;

  @include breakpoint(medium) {
    margin-left: $spacing-small;
  }

  &:hover {
    .icon {
      fill: $color-blue;
    }
  }
}

.total {
  display: flex;
  position: absolute;
  top: -10px;
  right: -10px;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: $color-yellow;
  font-size: $font-size-small;
  font-weight: bold;
}
